{% extends 'base.html' %}

{% block title %}TeenEdge - Home{% endblock %}

{% block head %}
<!-- Additional head content if needed -->
{% endblock %}

{% block content %}
<div class="wrapper bgded overlay" style="background-image:url('{{ url_for("static", filename="images/banner1.png") }}');">
    <div id="pageintro" class="hoc clear">
        <article>
            <p>Empowering Teens with Knowledge and Confidence</p>
            <h3 class="heading">TeenEdge</h3>
            <p>Welcome to TeenEdge, your trusted guide through the maze of adolescence! At TeenEdge, we believe that
                knowledge is power, especially when it comes to navigating the challenges and questions that arise during
                the teen years.</p>
            <footer><a class="btn" href="/app" target="_blank">Let's Explore</a></footer>
        </article>
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <section id="introblocks">
        <div class="sectiontitle">
          <h6 class="heading">Explore Comprehensive Resources</h6>
          <p>Dive into a wealth of information on sexuality, relationships, and personal well-being. Our carefully curated content covers a range of topics, from the basics of anatomy and puberty to the intricacies of healthy relationships and consent.
  
          </p>
        </div>
        <ul class="nospace group">
          <li class="one_third first">
            <article><i class="fa fa-futbol-o"></i>
              <h6 class="heading font-x1"><a href="#">Safe, Judgment-Free Zone</a></h6>
              <p>We understand that talking about sex and relationships can be sensitive. TeenEdge provides a safe and inclusive space for teens to explore, learn, and ask questions without fear of judgment. Our team of experts is here to provide accurate, reliable information that respects your curiosity and privacy.
  
                [<a href="#">&hellip;</a>]</p>
            </article>
          </li>
          <li class="one_third">
            <article><i class="fa fa-linode"></i>
              <h6 class="heading font-x1"><a href="#">Real Stories, Real Advice</a></h6>
              <p>Connect with real stories from teens who have faced similar situations and challenges. Learn from their experiences and gain valuable insights that can help you make informed decisions in your own life.
  
                [<a href="#">&hellip;</a>]</p>
            </article>
          </li>
          <li class="one_third">
            <article><i class="fa fa-s15"></i>
              <h6 class="heading font-x1"><a href="#">Celebrate Diversity</a></h6>
              <p>TeenEdge celebrates the diversity of identities and experiences. We provide inclusive and affirming content that recognizes and respects the spectrum of sexual orientations, gender identities, and cultural backgrounds.
  
                [<a href="#">&hellip;</a>]</p>
            </article>
          </li>
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <hr class="btmspace-80">
      <!-- ################################################################################################ -->
      <section>
        <div class="sectiontitle">
          <h6 class="heading">Photo Gallery</h6>
          <p>Immerse yourself in our captivating photo gallery, featuring visuals that complement and enhance your learning experience. From informative infographics to engaging illustrations, our gallery is designed to make learning about sexual health and well-being both educational and visually appealing.
  
          </p>
        </div>
        <ul class="nospace group overview">
          
          {% for row in questions %}
          <li class="one_third">
            <figure>
              <a href="#"><img src="{{ url_for('static', filename='gallery/0' + loop.index|string + '.jpg') }}" alt=""></a>
              <figcaption>
                <p>{{ row[2] }}</p>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
  
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper coloured">
    <article class="hoc cta clear"> 
      <!-- ################################################################################################ -->
      <h6 class="three_quarter first">Image Base Tutorial</h6>
      <form action="/upload" method="post" enctype="multipart/form-data">
        
          <input type="file" name="file" accept=".jpg, .jpeg, .png">
          
          <input type="submit" class="btn" value="Upload"> 
      </form>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">Most Popular</h6>
        <p>Molestie dolor blandit mauris porta quam erat ut laoreet velit</p>
      </div>
      <ul class="nospace group latest">
        {% for row in questions %}
        <li class="">
          <article>
            <div class="excerpt"> 
              <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">{{row[6]}}</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">{{row[7]}}</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">{{row[8]}}</a></li>
              </ul>
              <h6 class="heading">{{row[2]}}</h6>
              <p>{{row[3]}}</p>
            </div>
            <time datetime="{{row[9]}}"><strong>17</strong> <em>Dec</em></time>
          </article>
        </li>
        {% endfor %}
        
      </ul>
      <footer class="center"><a class="btn" href="#">View All Posts &raquo;</a></footer>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <figure class="hoc container clear clients"> 
      <!-- ################################################################################################ -->
      <ul class="nospace group">
        <li class="one_quarter first"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/01.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/02.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/04.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/07.png') }}" alt=""></a></li>
      </ul>
      <!-- ################################################################################################ -->
    </figure>
  </div>
{% endblock %}
