{% extends 'base.html' %}

{% block title %}TeenEdge - Home{% endblock %}

{% block head %}
<!-- Additional head content if needed -->
{% endblock %}

{% block content %}
<hr class="btmspace-80">
      <section>
        <div class="sectiontitle">
          <h6 class="heading">Photo Gallery</h6>
          <p>Immerse yourself in our captivating photo gallery, featuring visuals that complement and enhance your learning experience. From informative infographics to engaging illustrations, our gallery is designed to make learning about sexual health and well-being both educational and visually appealing.
  
          </p>
        </div>
        <ul class="nospace group overview">
          
          {% for row in questions %}
          <li class="one_third">
            <figure>
              <a href="#"><img src="{{ url_for('static', filename='gallery/0' + loop.index|string + '.jpg') }}" alt=""></a>
              <figcaption>
                <p>{{ row[2] }}</p>
              </figcaption>
            </figure>
          </li>
        {% endfor %}
  
        </ul>
      </section>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <figure class="hoc container clear clients"> 
      <!-- ################################################################################################ -->
      <ul class="nospace group">
        <li class="one_quarter first"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/01.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/02.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/04.png') }}" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="{{ url_for('static', filename='images/demo/gallery/07.png') }}" alt=""></a></li>
      </ul>
      <!-- ################################################################################################ -->
    </figure>
  </div>
{% endblock %}
